@tailwind base;
@tailwind components;
@tailwind utilities;

.audio-recorder {
  background-color: transparent !important;
  box-shadow: none !important;
  position: absolute;
  right: 160px;
  top: 36%;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 12px;
  transition: all 0.2s ease-in;
}
